body {
  margin: 0 auto;
  font-family: Copperplate Gothic Light;
  width: 50%;
}

.container {
  width: 360px;
}

#inputField {
  width: 300px;
  height: 46px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#addToDo {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
}

.to-dos {
  margin-top: 25px;
}

.paragraph-styling {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}

.app {
  background: #57ffe0;
  padding: 30px;
  height: 190px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
